$background: #f7fff9;
$denim: #002e56;
$keystone: #005295;
$light-spruce: #49868c;
$spruce: #19444f;
$acqua: #8fc7c2;
$text-light: #d6eae8;
$acqua-transparent: rgba($acqua, 0.25);

// Applied colors
$base-font: $denim;
$link-hover: $keystone;
