@use '../assets/variables/colors.scss';

.button {
  display: inline-block;
  padding: 16px 28px 18px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 29px;
  cursor: pointer;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  text-decoration: none;
  height: 58px;
}

.primary {
  background-color: colors.$keystone;
  color: colors.$text-light;

  &:hover {
    color: colors.$background;
  }
}

.secondary {
  border: 2px solid colors.$keystone;
  background-color: transparent;
  color: colors.$keystone;

  &:hover {
    background-color: colors.$keystone;
    color: colors.$background;
  }
}
