@use '../assets/variables/colors.scss';

.form {
  margin: 35px 0;
  max-width: 450px;

  input,
  textarea {
    &:focus {
      border-color: colors.$keystone;
    }
  }
}

.formField {
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
  border: 2px solid colors.$acqua;
  border-radius: 5px;
}

.button {
  background-color: colors.$keystone;
  border: 0;
  color: white;
  width: 50%;
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
  border-radius: 30px;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
