@use '../assets/variables/colors.scss';
@use '../assets/variables/breakpoints.scss' as *;

.footer {
  align-items: center;
  padding-top: 75px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: colors.$acqua-transparent;
}

.copyright {
  margin-top: 95px;
  font-size: 12px;
  text-align: center;
}

.column {
  width: 100%;
  margin-bottom: 50px;
  padding-right: 20px;

  @include media(tablet-landscape) {
    margin-bottom: 0;
  }

  h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 55px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    @include media(tablet-landscape) {
      margin-top: 0;
    }

    &:not(:first-of-type) {
      margin-top: 50px;
    }
  }

  ul {
    font-size: 16px;
  }

  li {
    margin-bottom: 15px;
  }
}

.phoneIcon,
.locationIcon {
  display: inline-block;
  margin-right: 12px;
}

.locationIcon {
  width: 17px;
  height: 24px;
}

.phoneIcon {
  width: 19px;
  height: 19px;
}

.logo {
  display: inline-block;
  width: 120px;
  height: auto;
  margin-right: auto;
  margin-left: auto;

  @include media(tablet-landscape) {
    width: 50%;
    margin-right: 0;
    margin-left: 0;
  }
}

.logoColumn {
  text-align: center;
  margin-bottom: 50px;

  @include media(tablet-landscape) {
    text-align: left;
  }
}

.logoContainer {
  text-align: center;

  @include media(tablet-landscape) {
    text-align: left;
  }
}

.footerColumns {
  @include media(tablet-landscape) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
