@use '../assets/variables/breakpoints.scss' as *;

.Header {
  padding-right: 30px;
  padding-left: 30px;
  max-width: 800px;
  margin: 50px auto 3rem;

  @include media(tablet-landscape) {
    margin: 100px auto 3rem;
  }
}
