@use '../assets/variables/colors.scss';
@use '../assets/variables/breakpoints.scss' as *;

.Marquee {
  background: linear-gradient(
    to right,
    colors.$acqua-transparent,
    rgba(255, 255, 255, 0)
  );
  margin-top: -37px;
  padding-top: 70px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
  text-align: center;

  @include media(tablet-landscape) {
    text-align: left;
  }
}

.Logo {
  display: inline-block;
  width: 199px;
  height: 125px;
}

.buttonContainerMobile {
  text-align: center;

  @include media(tablet-landscape) {
    display: none;
  }

  a {
    width: 100%;
    max-width: 275px;
    display: block;
    margin: 10px auto;
  }
}

.buttonContainerDesktop {
  display: none;

  @include media(tablet-landscape) {
    display: block;
  }

  a {
    + a {
      @include media(tablet-landscape) {
        margin-left: 20px;
      }
    }
  }
}

.MarqueeImage,
.MarqueeContent {
  @include media(tablet-landscape) {
    width: 50%;
  }
}

.iconSet {
  position: absolute;
  text-align: center;
  width: 100%;

  @include media(tablet-landscape) {
    justify-content: space-between;
    display: flex;
  }
}

.MarqueeMain {
  @include media(tablet-landscape) {
    display: flex;
  }
}

.waves {
  overflow: hidden;
  margin: 0 -20px;

  img {
    width: 300%;
    height: 500px;
    object-fit: cover;
  }
}

.promises {
  position: relative;
}
