@use '../assets/variables/colors.scss';
@use '../assets/variables/breakpoints.scss' as *;

.Marquee {
  background: linear-gradient(
    to right,
    colors.$acqua-transparent,
    rgba(255, 255, 255, 0)
  );
  margin-top: -37px;
  padding-top: 70px;
  text-align: center;

  @include media(tablet-landscape) {
    text-align: left;
  }

  h1 {
    margin-top: 43px;
    margin-bottom: 16px;
  }
}

.subtitle {
  font-size: 25px;
  margin-bottom: 32px;
}

.Logo {
  display: inline-block;
  width: 117px;
  height: 65px;

  @include media(tablet-landscape) {
    width: 199px;
    height: 125px;
  }
}

.buttonContainerMobile {
  text-align: center;

  a {
    width: 100%;
    max-width: 275px;
    display: block;
    margin: 10px auto;
  }
}

.buttonContainerDesktop {
  a {
    + a {
      @include media(tablet-landscape) {
        margin-left: 20px;
      }
    }
  }
}

.buttonContainer {
  margin-top: 35px;
}

.MarqueeImage,
.MarqueeContent {
  @include media(tablet-landscape) {
    width: 50%;
  }
}

.MarqueeContent {
  @include media(tablet-landscape) {
    padding-right: 50px;
  }
}

.iconSet {
  position: absolute;
  text-align: center;
  width: 100%;
  color: colors.$background;
  font-weight: bold;

  @include media(tablet-landscape) {
    justify-content: space-between;
    display: flex;
    padding-top: 120px;
    padding-right: 80px;
    padding-left: 80px;
  }

  p {
    font-size: 16px;
  }
}

.MarqueeMain {
  padding-right: 20px;
  padding-left: 20px;

  @include media(tablet-landscape) {
    display: flex;
  }
}

.waves {
  display: block;
  width: calc(100% + 40px);
  margin: 0 -20px;

  svg {
    width: 300%;
    height: 500px;
    object-fit: cover;

    @include media(tablet-landscape) {
      height: 270px;
      width: 100%;
    }
  }
}

.promises {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  text-align: center;
  margin: 21px auto;

  svg {
    max-width: 45px;
    max-height: 38px;
  }
}
