@use '../assets/variables/breakpoints.scss' as *;

.nav {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  flex-direction: column;

  ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;

    @include media(tablet-landscape) {
      display: flex;
    }
  }

  li {
    @include media(tablet-landscape) {
      width: 100%;
      display: inline-block;
      text-shadow: #fff 1px 0 6px;
    }

    + li {
      margin-left: 20px;
    }
  }

  a {
    text-decoration: none;
  }

  // logo
  svg {
    width: 117px;
    height: 88px;
    margin-bottom: 100px;
  }
}

.logoMobile {
  @include media(tablet-landscape) {
    display: none;
  }
}
