@use '../assets/variables/colors.scss';
@use '../assets/variables/breakpoints.scss' as *;

.testimonials {
  text-align: center;
  margin: 75px auto;
  padding: 0 30px;

  @include media(tablet-landscape) {
    margin: 115px auto;
  }
}

.quoteContainer {
  position: relative;
  margin: 50px 15px;
  padding: 75px 40px 33px;
  border-radius: 20px;
  margin: 45px auto;

  @include media(tablet-landscape) {
    max-width: 920px;
  }
}

.icon {
  position: absolute;
  top: 33px;
  left: 28px;
  width: 125px;
  height: 87px;
  z-index: 0;

  @include media(tablet-landscape) {
    width: 178px;
    height: 124px;
    left: 49px;
  }
}

.author {
  text-align: right;
  opacity: 0.6;
  margin-top: 25px;
}

.quote {
  text-align: left;
  position: relative;

  p {
    font-size: 20px;
    font-style: italic;

    @include media(tablet-landscape) {
      font-size: 25px;
    }
  }

  @include media(tablet-landscape) {
    margin-left: 138px;
  }
}
