@use '../assets/variables/colors.scss';
@use '../assets/variables/breakpoints.scss' as *;

.topbar {
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$acqua-transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  backdrop-filter: blur(10px);

  @include media(tablet-landscape) {
    display: flex;
  }
}

.mobileMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include media(tablet-landscape) {
    display: none;
  }
}

.desktopMenu {
  display: none;

  @include media(tablet-landscape) {
    display: block;
  }
}
