@use '../assets/variables/colors';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

main {
  padding: 2rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 60ch;
}

hr {
  width: 100%;
}

body {
  background-color: colors.$background;
  color: colors.$base-font;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.paragraph--intro {
  font-size: 25px;
}

a {
  color: colors.$base-font;
}

a:visited {
  color: colors.$base-font;
}

a:hover,
a:focus,
a:active {
  color: colors.$link-hover;
}
